<h1>Log In</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, value: 'user1@example.com' %><br>

  <%= f.label :password %>
  <%= f.password_field :password, value: 'foobar' %>

  <%= f.submit "Log In" %>
<% end %>
